DEBUGBUNDLE_PROJECT_TOKEN=
DEBUGBUNDLE_API_URL=http://localhost:3004
DEBUGBUNDLE_ENVIRONMENT=development
DEBUGBUNDLE_SERVICE=nextjs-basic
NEXT_PUBLIC_DEBUGBUNDLE_API_URL=http://localhost:3004
NEXT_PUBLIC_DEBUGBUNDLE_ENVIRONMENT=development
NEXT_PUBLIC_DEBUGBUNDLE_SERVICE=nextjs-basic-browser